@charset "utf-8";

// Initial Bulma Constants
@import "~@lolpants/bulma/sass/utilities/_all";

// Override Bulma variables
$bg: #232325;
$tex: #eff1f5;
$btn: #4f5053;
$red: #cd384c;

// Alternate Colours
$alt: $red;
$altDark: darken($alt, 10);

// Override Computed
$primary: $red;
$primary-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

// Body
$body-background-color: $bg;
$body-color: $tex;
$content-heading-color: $tex;
$hr-background-color: rgba(255, 255, 255, 0.2);

// Navbar
$navbar-box-shadow-color: rgba($tex, 0.07);

// Links
$link: $alt;
$link-hover: $altDark;

// Tables
$table-color: $tex;
$table-cell-border: 1px solid lighten($bg, 30);
$table-background-color: transparent;
$table-cell-heading-color: darken($tex, 10);
$table-head-cell-color: darken($tex, 10);
$table-foot-cell-color: darken($tex, 10);

// Import the rest of Bulma
@import "~@lolpants/bulma";
