html {
  background-color: #242424;
}

body,
.content table thead td, .content table thead th,
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6,
.table, .table th,
.label, strong {
  color: #e6e6e6;
}

code {
  color: #3273dc;
}

hr {
  background-color: hsla(0,0%,96%,.29)
}

.navbar.has-shadow {
  box-shadow: 0 2px 0 0 rgba(245, 245, 245, 0.07);
}

.table, .table th {
  background-color: transparent;
}

a {
  color: #50b4ff;
  transition: .15s color;
}

a:hover {
  color: #bdbdbd;
}

.button.is-light {
  background-color: #545454;
  border-color: transparent;
  color: #f5f5f5;
}

.button.is-light:hover {
  background-color: #717171;
  border-color: transparent;
  color: #f5f5f5;
}

.button.is-light.is-focused:not(:active),.button.is-light:focus:not(:active) {
  color: #f5f5f5;
  box-shadow: 0 0 0 .125em rgba(255, 255, 255, 0.5);
}
